/* styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #042e55;
    color: #fff;
    padding: 20px; /* Increase the padding to make the header taller */
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items to each end of the header */
}

/*fix the header position */
.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header appears above other content */
}

.logo {
    width: 100px; /* width of the logo */
    height: auto; /*  browser automatically calculates the height based on the aspect ratio of the original image */
    margin-right: 20px; /* separate the logo from the text */
}

header h1 {
    /*margin-bottom: 20px;*/ /* space of 20px between the <h1> element and the <nav> */
    margin: 0;
}

section.reasons {
    padding: 50px 20px;
}

.reason {
    margin-bottom: 30px;
}

.reason h3 {
    color: #000000;
}


/* Styles for statistics container */
.statistics {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

/* Styles for individual statistic */
.stat {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.statistics h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.statistics p {
    font-size: 20px;
    font-weight: bold;
    color: #4f7a1e;
}


footer {
    background-color: #042e55;
    color: #fff;
    text-align: center;
    padding: 20px;
}

